.header {  
  padding: 0px 200px 0px 200px;
  background: #4aaaa5;
  color: white;
  font-size: 17px;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: #cccccc
  }

.topnav {
  background-color: #4aaaa5;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-left {
  float: left;
}

.personal-header {
font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
color: #ffffff
}

.textbox {
  box-sizing: content-box;  
  background: #ffffff;
  margin: auto;
  width: 960px;
  height: 525px;
  padding: 30px;  
  border: 7.5px solid #dddddd;
}

.p {
  font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
  color: #777777
}

.img {
  float: left;
}

.clearfix {
  overflow: auto;
}

#contact-area {
	width: 600px;
  margin-top: 25px;
  max-width: 600px;
  margin: auto;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

body, html {
  height: 100%;
}

.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("https://cdn1.coolworks.com/production/pages/heros/178/large/HERO_Bryce_Canyon_at_Dawn.jpg?1497527825");
height: 30%;
width: 90%;
margin: auto;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: whitesmoke;
}

.row {
  margin: 8px -16px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color:#4aaaa5;
  color: whitesmoke;
  font-size: 20px;
  border: 7.5px solid #dddddd;
  height: 30%;
  width: 50%;
  margin: auto;
}

.content2 {
  background-color:#4aaaa5;
  margin: auto;
  color: whitesmoke;
  font-size: 15px;
  padding: 30px;  
  border: 7.5px solid #dddddd;
  width: 250px;
  height: 150px;
}

.Site-footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.Footer {
  padding: 1.0 rem;
  bottom: 0;
  background: #404040;
  color: #999;
  font-size: .85em;
  overflow-x: hidden;
  text-align: center;
  border-top-style: solid;
  border-top-width: thick;
  border-top-color: #4aaaa5;
}

@media screen and (max-width: 980px) { }
@media screen and (max-width: 768px) { }
@media screen and (max-width: 640px) { }